<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <script type="text/javascript" src="http://mc.yandex.ru/watch/10257952?rn=788099&amp;wmode=5&amp;callback=c86925&amp;page-ref=http%3A%2F%2Fapplekiev.com.ua%2Fiphone.html&amp;page-url=http%3A%2F%2Fapplekiev.com.ua%2Findex.php&amp;browser-info=j:1:s:1920x1080x32:f:11.1.102:w:1920x979:z:120:i:20111130132934:en:utf-8:v:1716:c:1:hid:225283030:wn:66185:hl:10:t:AppleKiev%20%D0%9C%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%20%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D0%BA%D0%B8%20Apple"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name='yandex-verification' content='55cd299f8e2884da' />
    <link rel="icon" href="http://applekiev.com.ua/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://applekiev.com.ua/favicon.ico" type="image/x-icon">
    <meta name="language" content="ru">

    <title>Магазин Apple Киев - Купить iPhone 4S, iPhone 4, New iPad  AppleKiev</title>
    <meta name="keywords" content="Купить iPhone 4S, купить iPhone 4, купить New iPad, купить айфон 4с, купить айпад 16Гб, Сервис">
    <meta name="description" content="Купить iPhone 4S, iPhone 4, New iPad, MacBook гарантия 12 мес, доставка по Киеву и Украине. Сервис. Отзывы, характеристики. +38(099) 125-63-23">

    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript" src="jscript/jquery/jquery.js"></script>
    <link rel="stylesheet" href="main.css" type="text/css">
    <link rel="stylesheet" href="slide.css" type="text/css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="ie.css" type="text/css">
    <![endif]-->
    <script type="text/javascript" src="jscript/jscript_JsHttpRequest.js"></script>
    <script type="text/javascript" src="jscript/jscript_ajax.js"></script>
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="http://applekiev.com.ua/ie6.css" /><![endif]-->
    <script type="text/javascript" src="http://applekiev.com.ua/javascript/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http://applekiev.com.ua/javascript/jquery.bxslider2.0.1.min.js"></script>
    <script type="text/javascript" src="jscript/jquery.corner.js"></script>
    <script type="text/javascript" src="jscript/slide.js"></script>
    <script type="text/javascript" src="jscript/jquery.waterwheelCarousel.min.js"></script>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://applekiev.com.ua/javascript/DD_belatedPNG.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div.image span, .png_bg');
    </script>
    <![endif]-->

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17451062-6']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script type="text/javascript">
        var timeout    = 500;
        var timeout_last = 5000;
        var closetimer = 0;
        var ddmenuitem = 0;

        function nav_open() {
            nav_canceltimer();
            nav_close();
            ddmenuitem = $(this).find('ul').css('visibility', 'visible');
        }

        function nav_close() {
            if (ddmenuitem) ddmenuitem.css('visibility', 'hidden');
        }

        function nav_timer() {
            closetimer = window.setTimeout(nav_close, timeout);
        }

        function nav_canceltimer() {
            if (closetimer) {
                window.clearTimeout(closetimer);
                closetimer = null;
            }
        }

        $(document).ready(function() {
            $('.nav > li').bind('mouseover', nav_open);
            $('.nav > li').bind('mouseout',  nav_timer);
        });
        document.onclick = nav_close;
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#waterwheel-carousel-default").waterwheelCarousel({
                startingWaveSeparation: 70,
                startingItem: 3,
                autoPlay: 2000
            });

            $("#waterwheel-carousel-higharch").waterwheelCarousel({
                startingWaveSeparation: -90,
                waveSeparationFactor: .7,
                centerOffset: 10,
                startingItemSeparation: 120,
                itemSeparationFactor: .9,
                itemDecreaseFactor: .75,
                autoPlay: 2000
            });

            $("#waterwheel-carousel-horizon").waterwheelCarousel({
                startingWaveSeparation: 0,
                centerOffset: 30,
                startingItemSeparation: 150,
                itemSeparationFactor: .7,
                itemDecreaseFactor: .75,
                opacityDecreaseFactor: 1,
                autoPlay: 1500
            });

            $("#waterwheel-carousel-flat").waterwheelCarousel({
                itemSeparationFactor: 1,
                itemDecreaseFactor: 1,
                waveSeparationFactor: 1,
                startingWaveSeparation: 0,
                startingItemSeparation: 280,
                centerOffset: 10,
                opacityDecreaseFactor: .3,
                autoPlay: 3000,
                edgeReaction: 'reverse'
            });

            $("#waterwheel-carousel-vertical").waterwheelCarousel({
                orientation: 'vertical',
                startingItemSeparation: 100,
                startingWaveSeparation: 40,
                autoPlay: 2000
            });

        });
    </script>

</head>
<body>


<!-- Основной блок -->
<div id="wrapper">
    <!-- Шапка -->
    <div id="header">
        <div class="left"></div>
        <div class="header-center">
            <!-- Меню -->
            <ul class="nav">
                <li><img class="first" src="http://applekiev.com.ua/images/apple.png" height="22" width="19" alt="AppleKiev"></li>
                <li><a class="first" href="http://applekiev.com.ua"><span>AppleKiev</span></a></li>
                <li><a href="http://applekiev.com.ua"><span>Mac</span></a>
                    <ul class="slide">
                        <li><a href="http://applekiev.com.ua/macbook_air.html"><span>MacBook Air</span></a></li>
                        <li><a href="http://applekiev.com.ua/macbook_pro.html"><span>MacBook Pro</span></a></li>
                        <li><a href="http://applekiev.com.ua/mini.html"><span>Mac Mini</span></a></li>
                        <li><a href="http://applekiev.com.ua/imac.html"><span>iMac</span></a></li>
                        <li><a href="http://applekiev.com.ua/mac_pro.html"><span>Mac Pro</span></a></li>
                    </ul>
                </li>
                <li><a href="http://applekiev.com.ua"><span>iPod</span></a>
                    <ul class="slide">
                        <li><a href="http://applekiev.com.ua/ipod_touch.html"><span>Touch</span></a></li>
                        <li><a href="http://applekiev.com.ua/ipod_classic.html"><span>Classic</span></a></li>
                        <li><a href="http://applekiev.com.ua/ipod_nano.html"><span>Nano</span></a></li>
                        <li><a href="http://applekiev.com.ua/ipod_shuffle.html"><span>Shuffle</span></a></li>
                    </ul>
                </li>
                <li><a href="http://applekiev.com.ua"><span>iPhone</span></a>
                    <ul class="slide">
                        <li><a href="http://applekiev.com.ua/iphone_4.html"><span>iPhone 4</span></a></li>
                        <li><a href="http://applekiev.com.ua/iphone_4s.html"><span>iPhone 4S</span></a></li>
                    </ul>
                </li>
                <li><a href="http://applekiev.com.ua"><span>iPad</span></a>
                    <ul class="slide">
                        <li><a href="http://applekiev.com.ua/ipad2_wifi.html"><span>iPad 2 Wi-Fi</span></a></li>
                        <li><a href="http://applekiev.com.ua/ipad2_wifi_3g.html"><span>iPad 2 Wi-Fi+3G</span></a></li>
                        <li><a href="http://applekiev.com.ua/ipad_wifi.html"><span>New iPad Wi-Fi</span></a></li>
                        <li><a href="http://applekiev.com.ua/ipad_wifi_4g.html"><span>New iPad Wi-Fi+4G</span></a></li>
                    </ul>
                </li>
                <li><a href="http://applekiev.com.ua/accessories.html"><span>Аксессуары</span></a></li>
                <li><a href="http://applekiev.com.ua/service.html"><span>Сервис</span></a></li>
                <li><a class="last" href="http://applekiev.com.ua/contacts.html"><span>Контакты</span></a></li>
            </ul>
            <!-- #Меню -->
        </div>
        <div class="right"></div>
    </div>
    <!-- #Шапка -->

<div class="clear"></div>

<div id="middle">
    <!-- Контент -->
    <div id="container">
        <div class="clear"></div>

        <div class="content-block shadow">

            <div class="con-cen">
                <!--<a href="http://applekiev.com.ua" class="main-img">-->
                    <br>
                    <br>
                    <br>
                    <img src="http://applekiev.com.ua/images/logo_3.png" alt="Logo Apple Киев iPhone" height="233" width="200">
                    <!--<img src="http://applekiev.com.ua/images/logo_smoking.jpg" alt="iPhone" width="100%">-->
                <!--</a>-->
                <!--<br>-->
                <!--<br>-->
                <!--<div class="stock"> Рождественские скидки!!!  -50$ на все MacBook!!!</div>-->
                <div class="logo">Apple<span class="black">Kiev</span></div>
                <br>
                <h2 class="center">Оригинальная техника Apple <br> сервисное обслуживание и аксессуары</h2>
                <!--<br>-->
                <div class="top br br6">
                    <div class="h48">
                        <div class="prod-6-col 1">
                            <ul class="prod-info">
                                <li>
                                    <a href="ipad2_wifi.html">
                                        <img class="prod-img" alt="Фото iPad 2" src="images/shelf/shelf_ipad2.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="ipad2_wifi.html">
                                        <h3>iPad 2</h3>
                                    </a>
                                </li>
                                <li class="buy">
                                    <span class="bold">
                                        <em>Цена от:
                                            <span class="cost">500 $</span>
                                        </em>
                                    </span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="prod-6-col 2">
                            <ul class="prod-info">
                                <li>
                                    <a href="ipad_wifi.html">
                                        <img class="prod-img" alt="Фото iPad 3" src="images/shelf/shelf_ipad3.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="ipad_wifi.html">
                                        <h3>New iPad</h3>
                                    </a>
                                </li>

                                <li class="buy">
                                    <span class="bold">
                                        <em>Цена от:
                                            <span class="cost">690 $</span>
                                        </em>
                                    </span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="prod-6-col border-left 3">
                            <ul class="prod-info">
                                <li>
                                    <a href="iphone_4.html">
                                        <img class="prod-img" alt="Фото iPhone 4 Neverlock" src="images/shelf/shelf_iphone4_wb.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="iphone_4.html">
                                        <h3>iPhone 4</h3>
                                    </a>
                                </li>

                                <li class="buy">
                                    <span class="bold">
                                        <em>Цена от:
                                            <span class="cost">635 $</span>
                                        </em>
                                    </span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="prod-6-col 4">
                            <ul class="prod-info">
                                <li>
                                    <a href="iphone_4s.html">
                                        <img class="prod-img" alt="Фото iPhone 4S Neverlock" src="images/shelf/shelf_iphone4s_wb.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="iphone_4s.html">
                                        <h3>iPhone 4S</h3>
                                    </a>
                                </li>

                                <li class="buy">
                                    <span class="bold">
                                        <em>Цена от:
                                            <span class="cost">750 $</span>
                                        </em>
                                    </span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="prod-6-col border-left 5">
                            <ul class="prod-info">
                                <li>
                                    <a href="ipod_touch.html">
                                        <img class="prod-img" alt="Фото iPhone 4 8GB Black Neverlock" src="images/shelf/shelf_touch_bw.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="ipod_touch.html">
                                        <h3>iPod touch</h3>
                                    </a>
                                </li>

                                <li class="buy">
                                    <span class="bold">
                                        <em>Цена от:
                                            <span class="cost">250 $</span>
                                        </em>
                                    </span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="prod-6-col border-left 6">
                            <ul class="prod-info">
                                <li>
                                    <a href="accessories.html">
                                        <img class="prod-img" alt="Фото Apple TV" src="images/shelf/shelf_appletv.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="accessories.html">
                                        <h3>Apple TV</h3>
                                    </a>
                                </li>

                                <li class="buy">
                                    <span class="bold">
                                        <em>Цена от:
                                            <span class="cost">150 $</span>
                                        </em>
                                    </span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear sep"></div>
                    <div>
                        <div class="prod-6-col 7">
                            <ul class="prod-info">
                                <li>
                                    <a href="macbook_air.html">
                                        <img class="prod-img" alt="Фото MacBook Air" src="images/shelf/shelf_mbair.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="macbook_air.html">
                                        <h3>MacBook Air</h3>
                                    </a>
                                </li>
                                <li class="buy">
                                    <span class="bold">
                                        <em>Цена от:
                                            <span class="cost">1150 $</span>
                                        </em>
                                    </span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="prod-6-col 8">
                            <ul class="prod-info">
                                <li>
                                    <a href="macbook_pro.html">
                                        <img class="prod-img" alt="Фото MacBook Pro" src="images/shelf/shelf_mbpro.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="macbook_pro.html">
                                        <h3>MacBook Pro</h3>
                                    </a>
                                </li>

                                <li class="buy">
                                    <span class="bold">
                                        <em>Цена от:
                                            <span class="cost">1340 $</span>
                                        </em>
                                    </span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="prod-6-col 9">
                            <ul class="prod-info">
                                <li>
                                    <a href="mini.html">
                                        <img class="prod-img" alt="Фото Mac mini" src="images/shelf/shelf_mini.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="mini.html">
                                        <h3>Mac mini</h3>
                                    </a>
                                </li>

                                <li class="buy">
                                    <span class="bold">
                                        <em>Цена от:
                                            <span class="cost">735 $</span>
                                        </em>
                                    </span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="prod-6-col 10">
                            <ul class="prod-info">
                                <li>
                                    <a href="imac.html">
                                        <img class="prod-img" alt="Фото iMac" src="images/shelf/shelf_imac.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="imac.html">
                                        <h3>iMac</h3>
                                    </a>
                                </li>

                                <li class="buy">
                                    <span class="bold">
                                        <em>Цена от:
                                            <span class="cost">1530 $</span>
                                        </em>
                                    </span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="prod-6-col 11">
                            <ul class="prod-info">
                                <li>
                                    <a href="mac_pro.html">
                                        <img class="prod-img" alt="Фото Mac Pro" src="images/shelf/shelf_macpro.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="macbook_pro.html">
                                        <h3>Mac Pro</h3>
                                    </a>
                                </li>

                                <li class="buy">
                                    <span class="bold">
                                        <em>Цена от:
                                            <span class="cost">4850 $</span>
                                        </em>
                                    </span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="prod-6-col border-left 12">
                            <ul class="prod-info">
                                <br>
                                <li>
                                    <a href="service.html">
                                        <img class="prod-img" width="100" alt="Фото Apple Service" src="images/service.png">
                                    </a>
                                </li>
                                <li>
                                    <a href="service.html">
                                        <h3><span class="grey big">Service</span></h3>
                                    </a>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!--<div>
                        <div class="prod-three-col 4">
                            <h2 class="center">Apple iPad</h2>
                            <ul class="prod-info">
                                <li><a href="ipad2_wifi_3g.html"><h3>iPad 2 Wi-Fi+3G</h3></a></li>
                                <li><a href="ipad2_wifi_3g.html"><img class="prod-img2" alt="Фото iPad 2 Wi-Fi+3G" src="images/product_images/thumbnail_images/ipad_wi-fi+3g.png"></a></li>
                                <li class="buy"><span class="bold"><em>Цена: <span class="cost">620 $</span></em></span></li>
                                &lt;!&ndash;<li class="buy"><div class="button b"><input type="submit" value="Купить"></div></li>&ndash;&gt;
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div>
                        <div class="prod-three-col 3">
                            <h2 class="center">Apple MacBook</h2>
                            <ul class="prod-info">
                                <li><a href="macbook_air.html"><h3>MacBook Air</h3></a></li>
                                <li><a href="macbook_air.html"><img class="prod-img2" alt="Фото MacBook Air" src="images/product_images/thumbnail_images/macbook-air-11.jpg"></a></li>
                                <li class="buy"><span class="bold"><em>Цена: <span class="cost">1220 $</span></em></span></li>
                                &lt;!&ndash;<li class="buy"><div class="button b"><input type="submit" value="Купить"></div></li>&ndash;&gt;
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div>
                        <div class="prod-three-col 2">
                            <ul class="prod-info">
                                <li><a href="iphone_4s.html"><h3>iPhone 4S 16GB Neverlock</h3></a></li>
                                <li><a href="iphone_4s.html"><img class="prod-img" alt="Фото 4S 16GB Black Neverlock" src="images/product_images/thumbnail_images/iPhone_4S_16GB_Black.png"></a></li>
                                <li class="buy"><span class="bold"><em>Цена: <span class="cost">755 $</span></em></span></li>
                                &lt;!&ndash;<li class="buy"><div class="button b"><input type="submit" value="Купить"></div></li>&ndash;&gt;
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div>
                        <div class="prod-three-col 5">
                            <ul class="prod-info">
                                <li><a href="ipad_wifi_4g.html"><h3>New iPad Wi-Fi+4G</h3></a></li>
                                <li><a href="ipad_wifi_4g.html"><img class="prod-img2" alt="Фото iPad Wi-Fi+4G" src="images/product_images/thumbnail_images/ipad_wi-fi+4g_new_black.png"></a></li>
                                <li class="buy"><span class="bold"><em>Цена: <span class="cost">810 $</span></em></span></li>
                                &lt;!&ndash;<li class="buy"><div class="button b"><input type="submit" value="Купить"></div></li>&ndash;&gt;
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div>
                        <div class="prod-three-col 6">
                            <ul class="prod-info">
                                <li><a href="iphone_4s.html"><h3>MacBook Pro</h3></a></li>
                                <li><a href="iphone_4s.html"><img class="prod-img2" alt="Фото MacBook Pro" src="images/product_images/thumbnail_images/macbookpro-17.png"></a></li>
                                <li class="buy"><span class="bold"><em>Цена: <span class="cost">1340 $</span></em></span></li>
                                &lt;!&ndash;<li class="buy"><div class="button b"><input type="submit" value="Купить"></div></li>&ndash;&gt;
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>-->


                </div>


                <!--<div id="waterwheel-carousel-default">
                    &lt;!&ndash;<div class="carousel-controls">
                      <div class="carousel-prev"><a href="#">&lt; previous</a></div>
                      <div class="carousel-next"><a href="#">&gt; next</a></div>
                    </div>&ndash;&gt;
                    <div class="carousel-images">
                            <a href="macbook_air.html"><img src="images/slide/macbook-air-11.png" alt="MacBook Air 11" /></a>
                        <a href="iphone_4s.html"><img src="images/slide/iphone_4s.png" alt="iPhone 4S" /></a>
                        <a href="ipod_touch.html"><img src="images/slide/touch-black.png" alt="iPod touch black" /></a>
                        <a href="ipad2_wifi_3g.html"><img src="images/slide/ipad_wi-fi+3g.png" alt="iPad2 Wi-Fi+3G" /></a>
                        <a href="iphone_4.html"><img src="images/slide/iphone_4.png" alt="iPhone 4" /></a>
                        <a href="imac.html"><img src="images/slide/imac-215.png" alt="iMac 21,5" /></a>
                            <a href="macbook_air.html"><img src="images/slide/macbook-air-11.png" alt="MacBook Air 11" /></a>
                        <a href="iphone_4s.html"><img src="images/slide/iphone_4s.png" alt="iPhone 4S" /></a>
                        <a href="ipod_touch.html"><img src="images/slide/touch-black.png" alt="iPod touch black" /></a>
                        <a href="ipad2_wifi_3g.html"><img src="images/slide/ipad_wi-fi+3g.png" alt="iPad2 Wi-Fi+3G" /></a>
                        <a href="iphone_4.html"><img src="images/slide/iphone_4.png" alt="iPhone 4" /></a>
                        <a href="imac.html"><img src="images/slide/imac-215.png" alt="iMac 21,5" /></a>
                            <a href="macbook_air.html"><img src="images/slide/macbook-air-11.png" alt="MacBook Air 11" /></a>
                        <a href="iphone_4s.html"><img src="images/slide/iphone_4s.png" alt="iPhone 4S" /></a>
                        <a href="ipod_touch.html"><img src="images/slide/touch-black.png" alt="iPod touch black" /></a>
                        <a href="ipad2_wifi_3g.html"><img src="images/slide/ipad_wi-fi+3g.png" alt="iPad2 Wi-Fi+3G" /></a>
                        <a href="iphone_4.html"><img src="images/slide/iphone_4.png" alt="iPhone 4" /></a>
                        <a href="imac.html"><img src="images/slide/imac-215.png" alt="iMac 21,5" /></a>
                            <a href="macbook_air.html"><img src="images/slide/macbook-air-11.png" alt="MacBook Air 11" /></a>
                        <a href="iphone_4s.html"><img src="images/slide/iphone_4s.png" alt="iPhone 4S" /></a>
                        <a href="ipod_touch.html"><img src="images/slide/touch-black.png" alt="iPod touch black" /></a>
                        <a href="ipad2_wifi_3g.html"><img src="images/slide/ipad_wi-fi+3g.png" alt="iPad2 Wi-Fi+3G" /></a>
                        <a href="iphone_4.html"><img src="images/slide/iphone_4.png" alt="iPhone 4" /></a>
                        <a href="imac.html"><img src="images/slide/imac-215.png" alt="iMac 21,5" /></a>
                    </div>
                </div>-->
                <br>
            </div>

        </div>

        <div class="content-block shadow">

            <div id="link">
                <ul class="link">
                    <li class="one"> &nbsp;
                        <ul>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                        </ul>
                    </li>
                    <li>Продукты Mac &nbsp;
                        <ul>
                            <li><a href="macbook_air.html">MacBook Air 11"</a></li>
                            <li><a href="macbook_air.html">MacBook Air 13"</a></li>
                            <li><a href="macbook_pro.html">MacBook Pro 13"</a></li>
                            <li><a href="macbook_pro.html">MacBook Pro 15"</a></li>
                            <li><a href="macbook_pro.html">MacBook Pro 17"</a></li>
                            <li><a href="mini.html">Mac mini Lion server</a></li>
                            <li><a href="mini.html">Mac mini</a></li>
                            <li><a href="imac.html">iMac 21"</a></li>
                            <li><a href="imac.html">iMac 27"</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                        </ul>
                    </li>
                    <li>Продукты iPod
                        <ul>
                            <li><a href="ipod_touch.html">iPod touch 8GB</a></li>
                            <li><a href="ipod_touch.html">iPod touch 32GB</a></li>
                            <li><a href="ipod_touch.html">iPod touch 64GB</a></li>
                            <li><a href="ipod_classic.html">iPod classic 160GB</a></li>
                            <li><a href="ipod_nano.html">iPod nano 8GB</a></li>
                            <li><a href="ipod_nano.html">iPod nano 16GB</a></li>
                            <li><a href="ipod_shuffle.html">iPod shuffle 2GB</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                            <li><a href="#">&nbsp;</a></li>
                        </ul>
                    </li>
                    <li>Продукты iPhone
                        <ul>
                            <li><a href="iphone_4.html">iPhone 4 8GB Black</a></li>
                            <li><a href="iphone_4.html">iPhone 4 8GB White</a></li>
                            <li><a href="iphone_4.html">iPhone 4 16GB Black</a></li>
                            <li><a href="iphone_4.html">iPhone 4 16GB White</a></li>
                            <li><a href="iphone_4.html">iPhone 4 32GB Black</a></li>
                            <li><a href="iphone_4.html">iPhone 4 32GB White</a></li>
                            <li><a href="iphone_4s.html">iPhone 4S 16GB Black</a></li>
                            <li><a href="iphone_4s.html">iPhone 4S 16GB White</a></li>
                            <li><a href="iphone_4s.html">iPhone 4S 32GB Black</a></li>
                            <li><a href="iphone_4s.html">iPhone 4S 32GB White</a></li>
                            <li><a href="iphone_4s.html">iPhone 4S 64GB Black</a></li>
                            <li><a href="iphone_4s.html">iPhone 4S 64GB White</a></li>
                        </ul>
                    </li>
                    <li>Продукты iPad
                        <ul>
                            <li><a href="ipad2_wifi.html">iPad2 16GB Wi-Fi Black</a></li>
                            <li><a href="ipad2_wifi.html">iPad2 16GB Wi-Fi White</a></li>
                            <li><a href="ipad2_wifi.html">iPad2 32GB Wi-Fi Black</a></li>
                            <li><a href="ipad2_wifi.html">iPad2 32GB Wi-Fi White</a></li>
                            <li><a href="ipad2_wifi.html">iPad2 64GB Wi-Fi Black</a></li>
                            <li><a href="ipad2_wifi.html">iPad2 64GB Wi-Fi White</a></li>
                            <li><a href="ipad2_wifi_3g.html">iPad2 16GB Wi-Fi+3G Black</a></li>
                            <li><a href="ipad2_wifi_3g.html">iPad2 16GB Wi-Fi+3G White</a></li>
                            <li><a href="ipad2_wifi_3g.html">iPad2 32GB Wi-Fi+3G Black</a></li>
                            <li><a href="ipad2_wifi_3g.html">iPad2 32GB Wi-Fi+3G White</a></li>
                            <li><a href="ipad2_wifi_3g.html">iPad2 64GB Wi-Fi+3G Black</a></li>
                            <li><a href="ipad2_wifi_3g.html">iPad2 64GB Wi-Fi+3G White</a></li>
                        </ul>
                    </li>
                    <li>Продукты New iPad
                        <ul class="last">
                            <li><a href="ipad_wifi.html">New iPad 16GB Wi-Fi Black</a></li>
                            <li><a href="ipad_wifi.html">New iPad 16GB Wi-Fi White</a></li>
                            <li><a href="ipad_wifi.html">New iPad 32GB Wi-Fi Black</a></li>
                            <li><a href="ipad_wifi.html">New iPad 32GB Wi-Fi White</a></li>
                            <li><a href="ipad_wifi.html">New iPad 64GB Wi-Fi Black</a></li>
                            <li><a href="ipad_wifi.html">New iPad 64GB Wi-Fi White</a></li>
                            <li><a href="ipad_wifi_4g.html">New iPad 16GB Wi-Fi+4G Black</a></li>
                            <li><a href="ipad_wifi_4g.html">New iPad 16GB Wi-Fi+4G White</a></li>
                            <li><a href="ipad_wifi_4g.html">New iPad 32GB Wi-Fi+4G Black</a></li>
                            <li><a href="ipad_wifi_4g.html">New iPad 32GB Wi-Fi+4G White</a></li>
                            <li><a href="ipad_wifi_4g.html">New iPad 64GB Wi-Fi+4G Black</a></li>
                            <li><a href="ipad_wifi_4g.html">New iPad 64GB Wi-Fi+4G White</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- #Контент -->
</div>

<div id="footer">
    <div class="left"></div>
    <div class="footer-content">
        <p class="footer-text">
            Интернет-магазин оригинальной техники Apple в Киеве. Продажа, ремонт, аксессуары, установка программ для всего спектра техники Apple.
            Сервисный центр техники Apple.  Производим ремонт iPhone, iPad,  iPod,  MacBook, iMac, Mac Pro, Mac mini.
            Осуществляем ремонт техники Apple уже 4 года, на все выполненные работы, предоставляется гарантия 1 месяц.
            <br>Вы можете рассчитывать на доставку по Киеву. Мы также осуществляем доставку по всем городам Украины:
            Винница, Днепропетровск, Донецк, Житомир, Запорожье, Ивано-Франковск, Киев, Кировоград, Луганск, Луцк, Львов, Николаев,
            Одесса, Полтава, Ровно, Севастополь, Симферополь, Сумы, Тернополь, Ужгород, Харьков, Херсон, Хмельницкий, Черкассы,
            Чернигов, Черновцы, Ялта.
        </p>
        <br>
        <br>
        <div class="footer-logo">
            <img alt="footer apple logo" src="http://applekiev.com.ua/images/apple_footer.png">
        </div>
        <div class="footer-copyright">
            © <a href="http://applekiev.com.ua">AppleKiev</a>, 2011 - 2012
        </div>
        <div class="counter">
            <!--Счетчики-->

            <!--LiveInternet counter--><script type="text/javascript"><!--
        document.write("<a href='http://www.liveinternet.ru/click' "+
            "target=_blank><img src='//counter.yadro.ru/hit?t15.5;r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";"+Math.random()+
            "' alt='' title='LiveInternet: показано число просмотров за 24"+
            " часа, посетителей за 24 часа и за сегодня' "+
            "border='0' width='88' height='31'><\/a>")
        //--></script><!--/LiveInternet-->

            <!-- Yandex.Metrika informer -->
            <a href="http://metrika.yandex.ru/stat/?id=10257952&amp;from=informer"
               target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/10257952/3_0_505050FF_303030FF_0_pageviews"
                                                   style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:10257952,type:0,lang:'ru'});return false}catch(e){}"/></a>
            <!-- /Yandex.Metrika informer -->

            <!-- Yandex.Metrika counter -->
            <div style="display:none;"><script type="text/javascript">
                (function(w, c) {
                    (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter10257952 = new Ya.Metrika({id:10257952, enableAll: true});
                        }
                        catch(e) { }
                    });
                })(window, "yandex_metrika_callbacks");
            </script></div>
            <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
            <noscript><div><img src="//mc.yandex.ru/watch/10257952" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->

            <!--#Счетчики-->
        </div>
    </div>
    <div class="right"></div>
</div>
</div>
<div class="clear"></div>

<script type="text/javascript">
    $(document).ready(function(){

        /*$(".con-cen").corner("round 6px").parent().css('padding', '1px').corner("round 8px");*/
        $(".con-cen").corner("round 6px").parent().css('padding', '1px 1px 1px 1px').corner("round 8px");
        /*$(".con-cen").corner("round br bl 6px").parent().css('padding', '0 1px 1px 1px').corner("round br bl 8px");*/
        $("#link").corner("round 6px").parent().css('padding', '1px').corner("round 8px");
    });
</script>



</body></html>