

* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {padding:0; margin:0;}
html, body {height:100%;}
body {font: 12px/18px Tahoma, Helvetica, "Helvetica Neue", Verdana, sans-serif;color:#7E7E7E;background:#E9E9E9;}
img {border:none;}
ul, ol {list-style: none;}
h1, h2, h3, h4, h5 {font-weight:normal;}

#wrapper {width:990px;margin:0 auto;padding:10px 0 0 0;position:relative;}

/*::selection {background:#143c5f;color:#000;}*/
::-moz-selection {background:#143c5f;color:#000;}
a:link, a:active, a:visited {color:#7e7e7e;text-decoration:none;outline:none;}
a:hover {text-decoration:underline;}


.clear {clear:both;line-height:0;}

.bold {font-weight:bold;}
.black{color:#000000;}
.green {color:green;}
.blue {color:blue !important;}
.grey {color:#7f7f7f;}

.br {border:1px solid #d7d7d7;}

.br3 { -moz-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;/*behavior:url(ie-css3.htc);*/}
.br6 { -moz-border-radius:6px;border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;/*behavior:url(ie-css3.htc);*/}

.br6-tl{-moz-border-radius-topleft:6px;-webkit-border-top-left-radius:6px;-khtml-border-radius:6px 0 0 0;}
.br6-tr{-moz-border-radius-topright:6px;-webkit-border-top-right-radius:6px;-khtml-border-radius:0 6px 0 0;}
.br6-bl{-moz-border-radius-bottomleft:6px;-webkit-border-bottom-left-radius:6px;-khtml-border-radius:0 0 0 6px;}
.br6-br{-moz-border-radius-bottomright:6px;-webkit-border-bottom-right-radius:6px;-khtml-border-radius:0 0 6px 0;}

.br6-tl-bl{-moz-border-radius:10px 0 0 10px;-webkit-border-radius:10px 0 0 10px;-khtml-border-radius:10px 0 0 10px;}
.br6-tr-br{-moz-border-radius:0 10px 10px 0;-webkit-border-radius:0 10px 10px 0;-khtml-border-radius:0 10px 10px 0;}

.sep {height:1px;border-bottom:1px solid #d7d7d7;margin: 0 30px 0 30px;}

.tsb {text-shadow: 1px 1px #ebebeb;}
.tsw {text-shadow: 1px 1px #ffffff;}

.mt15 {margin:15px 0 0 0;}
.mg {margin:15px 0 15px 0;}

.fl {float:left;}
.fr {float:right;}
.frt {float:right;text-align:right;}
.tr {text-align:right;}

.center {text-align:center;}
.w60 {width: 60%;}
.w75 {width: 75%;}
.w80 {width: 80%;}
.w90 {width: 90%;}
.h48 {height: 48%;}
.m0a {margin: 0 auto;}


/* Шапка
----------------------------------------------------------*/
#header {height:36px;margin:0 0 11px 0;clear:both;overflow:hidden;}
#header .left {width:6px;height:36px;float:left;background: url(/frontend/images/elements/nav_bg_side.png) no-repeat scroll 0 0;margin-left: 0px;}
#header .right {width:6px;height:36px;float:right;background: url(/frontend/images/elements/nav_bg_side.png) no-repeat scroll -8px 0;margin-right: 0px;}

#header .header-center {float:left; width:974px; height:36px;}


/* Меню в шапке
---------------------------*/
.header-center ul.nav {margin:0 0 0 0;float:left}
.header-center ul.nav li {display:inline;text-align:center;float:left;}

.header-center ul.nav li a.first {border-left: none;}
.header-center ul.nav li img.first{position:absolute;border-left:none;margin-left:10px;margin-top: 4px}
.header-center ul.nav li a.last {width:120px;}
.header-center ul.nav a.last span {width:131px;padding: 7px 0 0 0;background: #FEFEFE url(/frontend/images/elements/nav_bg.jpg) repeat-x scroll 0 -6px;}
.header-center ul.nav a.last:hover span {width:131px;background: #FEFEFE url(/frontend/images/elements/nav_over.jpg) repeat-x scroll -10px -6px;}

.header-center ul.nav a {text-decoration:none;float:left;margin:0;padding:0;width:120px;border-left:1px solid #555;}
.header-center ul.nav a span {float:left;display:block;padding:7px 0 0 0;color:#ffffff;background:#fefefe url(/frontend/images/elements/nav_bg.jpg) repeat-x scroll 0 -6px;width:120px;height:36px;font-weight: bold;}
.header-center ul.nav a:hover span, ul.nav .current a span {text-decoration:none;background:#fefefe url(/frontend/images/elements/nav_over.jpg) repeat-x scroll -10px -6px; width:120px;height:36px;}

.header-center ul.slide {z-index:10;margin-top:36px;width:120px;position: absolute;display:block;text-align:center;float:left;visibility: hidden;}
.header-center ul.slide li {float:none;display:block;width:120px;}
.header-center ul.slide li a{float:none;display:block;margin:0;padding:0;height: 29px;border: none;}
.header-center ul.slide li a span{height: 29px;background: #FEFEFE url(/frontend/images/elements/nav_bg.jpg) repeat-x scroll 0 -6px;width:122px;}
.header-center ul.slide li a:hover span{height: 29px;background: #FEFEFE url(/frontend/images/elements/nav_over.jpg) repeat-x scroll -10px -6px;width:122px;}


.logo{
    font-weight: 600;
    font-size: 36px;
    font-family: "verdana";
    letter-spacing: -1px;
    margin:0 auto;
    position: relative;
    z-index: 5;
    padding-top: 8px;
}
.logo h1 {
    font-size: 100%;
    font-weight: bold;
}



/* Контент Главной и Сервиса
----------------------------------------------------------*/
#middle {margin: 0 0 0 0;}
#container {width: 100%;float: left;overflow: hidden;margin-right: -100%;position:relative;}


/* Блоки в центре
   НАДО ПЕРЕДЕЛАТЬ!
---------------------------*/
.content-block {position:relative;margin:0 0 10px 0;padding:0;overflow:hidden;background: #d1d1d1;}

.content-block .con-cen {padding:0 0 0 0;overflow:hidden;background:#fff;text-align:center;}
.content-block .con-cen .stock {text-align: center; font-size: 18px; font-weight: bold; color: red;}


#container .content-text p.service, h3, h2{text-align:left;font-family: Verdana;font-size: 12px;letter-spacing: 1px;line-height: 17px;word-spacing: -0.2ex;color:black;padding:6px 20px;}
.content-text h2 {font-size:130%;font-weight:bold;}
.content-text h3 {font-size:110%;font-weight:bold;}
#container .content-text #address {background-color: #d3d3d3; border-radius: 6px;}

.grid2col{width: 94%; text-align: left; color: #000; padding:6px 20px;}
.grid2col .column {float:left;width: 49%; }
.column.first, .column.last { margin-left: 0 !important; }
.column.last { float: right !important; }
.column a {color:#0088CC;}
.column h2 {font-size:130%;font-weight:bold; padding: 5px 0 5px 0;}
.column h3 {font-size:110%;font-weight:bold; padding: 5px 0 5px 0;}

.service > a {color:blue;}
.service > img {float:right;}

.content-text {padding:0 10px 0 10px;}
.content-text p {margin:3px 0 3px 0;}


/* Блок с сылками
---------------------------*/
.shadow {
    -webkit-box-shadow: rgba(0,0,0,.4) 0 1px 2px;
    -moz-box-shadow: rgba(0,0,0,.4) 0 1px 2px;
    box-shadow: rgba(0,0,0,.4) 0 1px 2px;
    behavior: url(ie-css3.htc);
}



#link {
    margin-bottom: 0;
    height:210px;
    padding: 1px 0pt 0pt;
    display: block;
    position: relative;
    background:#ffffff;
    font: 12px/14px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
UL.link {
    clear:both;
    margin-top: 12px;
    padding: 0; /* Убираем отступы */
    text-align: left;
    padding-left:18px;
}
UL.link > LI {
    list-style: none; /* Убираем маркеры списка */
    padding-left: 8px; /* Поля вокруг текста */
    font-size: 11px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    color:#000;
    float: left; /* Располагаем элементы по горизонтали */
    border-right-style: solid;
    border-right-color: blue;
    border-right-width: thin;
}
.link LI > UL {
    list-style: none; /* Убираем маркеры списка */
    margin: 0; padding: 0; /* Убираем отступы вокруг элементов списка */
    padding-top: 5px; /* Добавляем отступ сверху */
    text-align: left;
    font-weight:normal;
    padding-right:18px;
    width:150px;
}
li.one {
    width:1px;
}
.ins {
     font-weight: bold;
}
.link LI > A {
    font-size: 11px; /* Размер шрифта */
    color:#000;
    padding: 1px; /* Поля вокруг текста */
}
UL.link ul.last {width:196px;}


form {text-align: left;}
.order {text-align:left;font-family: Verdana;font-size: 12px;letter-spacing: 1px;line-height: 17px;word-spacing: -0.2ex;color:black;padding:6px 20px;}


.sidebar-text h3 {font-size:110%;font-weight:bold;}


.sidebar .sidebar-text p.delivery, h3{
    text-align:left;
    /*font-family: Verdana;*/
    font-size: 12px;
    /*letter-spacing: 1px;*/
    line-height: 16px;
    word-spacing: -0.2ex;
    color:black;
    padding:6px 12px;
}
.delivery > a {color:blue;}

.sidebar {float:right;width:390px;margin:-25px 0 0 0;position:relative;right:20px;}
.block {width:390px;float:left;margin:0 0 10px 0;padding:0;overflow:hidden;background: #fff;}
.block h3 {font-size:1.4em;padding-top: 24px;}
.block .cen {float:left;width:390px;/*height:674px;*/background:#fff;padding:0 10px 0 10px;}



/* Товар в три колонки
---------------------------*/
.top {width: 81%;overflow: hidden;position: relative;height: 450px;margin: 0 auto;}
 h2 {font-weight: bold;font-size: 18px;font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;color:#7E7E7E;}

.prod-6-col {margin:6px 0 0;padding:0 9px;/*overflow:hidden;*/float:left;width:114px;}
.prod-6-col.border-left {border-left:1px solid #d7d7d7;}
.prod-6-col.border-right {border-right:1px solid #d7d7d7;}
.prod-6-col .prod-img {margin:6px 0 -4px 10px;padding:6px 0 0 0;}
.prod-6-col ul.prod-info {float:left;width:114px;padding:4px 0 4px 0px;margin:4px 0 4px 0;}
.prod-6-col ul.prod-info li {}
.prod-6-col ul.prod-info li.name a {color:#000000;}
.prod-6-col ul.prod-info li.desc {font-size:0.9em;line-height:14px;color:#919191;}
.prod-6-col ul.prod-info li.buy {padding:6px 0 0 9px;color:black;}
.prod-6-col ul.prod-info li.buy .cost {line-height:21px;/*padding:0 0 0 7px;*/color:red;/*text-shadow: 1px 1px #fff;*/}
.prod-6-col ul.prod-info li.buy .cost em {height:21px;padding:0 4px 0 0;font-style:normal;}
.prod-6-col ul.prod-info li.buy a {margin:0 0 10px 0;}
.warr {font-size: 11px; color: black;}

.prod-6-col .prod-img2 {width:170px;margin:6px 0 -4px 10px;padding:6px 0 0 0;}

.big {font-size: 140%;}

.spec {font-size: 11px; line-height: 14px; color: black; text-align: left;}
.spec>p {padding: 0 0 0 30px;}
.spec>p>a{color:blue;}

.air11{padding:0 0 11px 6px;}
.pro13{padding:0 0 11px 6px;}
.pro15{padding:0 0 3px 6px;}

.prod-6-col ul.prod-info li.buy .button{
    text-align:center;
    color:#fff;
    width:91px;
    height:22px;
    margin-left:70px;
    padding:2px 1px;
    font-size:11px;

}
.prod-info h3 {
    font: 12px/18px Tahoma, Helvetica, "Helvetica Neue", Verdana, sans-serif;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.b{background:#fff url(/frontend/images/button/buy_black_c.png) no-repeat 0 0;color:#fff;}
.b:hover{background:#fff url(/frontend/images/button/buy_black_c.png) no-repeat 0 -26px;}
.w{background:#fff url(/frontend/images/button/buy_white.png) no-repeat;color:#000;}
.w:hover{background:#fff url(/frontend/images/button/buy_white_c.png) no-repeat 0 -26px;}

.b>a{color:#fff;text-decoration: none;}
.w>a{color:#000;text-decoration: none;}

.button input[type="submit"] {
    color: white;
    border: none;
    background-color: transparent;
    font-size: 11px;
}
.w input[type="submit"] {
    color: #000000;
}






/* Footer
----------------------------------------------------------*/
#footer {margin:0 0 0 0;height:200px;clear:both;overflow:hidden;background: url(/frontend/images/elements/footer.png) no-repeat scroll 3px 0;}
#footer .left {width:4px;height:200px;float:left;background: url(/frontend/images/elements/footer_side.png) no-repeat scroll 0 0;}
#footer .right {width:7px;height:200px;float:right;background: url(/frontend/images/elements/footer_side.png) no-repeat scroll -5px 0;}
.footer-content {float:left;width:96%;padding:10px;font-size:0.9em;}
.footer-content li {float:left;width:25%;}
.footer-content li span {display:block;padding:0 15px 0 15px;}
.footer-content li span.a-title {color:#356493;}
.footer-content li span.a-content {color:#989898;line-height:15px;}
.footer-content .footer-text {width: 750px;color:#BEBEBE;padding-left: 6px;text-align: left;font-size: 10px;font-weight: bold;font-family: Verdana, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;}
.footer-content .footer-logo {position: absolute;padding-left: 6px;}
.footer-content .footer-copyright {position: absolute;padding-top: 6px;padding-left: 26px;font-size: 10px;font-weight: bold;}

.footer-content .counter {text-align:center;margin-top:-5px}

.foonet-two {width:970px;height:31px;line-height:31px;margin:10px auto;}
.foonet-two .foo-left {float:left;width:25%;}
.foonet-two .foo-right {float:right;width:70%;text-align:right;}

a.nw {color:#c03e12;font-weight:bold;}
